<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         stopOnError="true"
         stopOnFailure="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
>
    <testsuites>

        <!-- Unit test suite -->
        <testsuite name="tests">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>

    </testsuites>
</phpunit>
